@CHARSET "ISO-8859-1";

.link{
	color:#ffcc00;
}
.error{
	margin-bottom:5px;
	padding:5px;
}
.link:hover{
	color:#f5bf55;
	text-decoration: none;
}
.logo{
	font-weight:bold;
}

.content-wrapper{
	margin-bottom:80px;
}
.content{
	margin:3px;
	border-radius:3px;
	
}
.marketing{
	padding:40px 20px 40px 40px;
	color: #666;
	background-color: #F4F4F4;
}
.marketing-image{
	padding:5px 10px 5px 10px;
}
.social{
	padding:30px 20px 30px 40px;
	background-color: #F4F4F4;
	color: #666;
}