<div class="col-md-5 col-xs-12">
<form name="registerForm" novalidate>
	<div id="success" class="alert alert-success" ng-show="msg">{{msg}}</div>
	<div class="form-group">
		<span class="label label-danger error" ng-show="submitted && registerForm.username.$error.required">Username is required!</span>
		<input type="text" class="form-control" ng-model="formData.userName" name="username"
			placeholder="user name" required/>
	</div>

	<div class="form-group">
		<span class="label label-danger error" ng-show="submitted && registerForm.email.$error.required">Email is required</span>
		<span class="label label-danger error" ng-show="submitted && registerForm.email.$error.email">Enter valid email</span>
		<input type="email" class="form-control" ng-model="formData.email" name="email"
			placeholder="email" required/>
	</div>

	<div class="form-group">
		<span class="label label-danger error" ng-show="submitted && registerForm.password.$error.required">Password is required</span>
		<input type="password" class="form-control" ng-model="formData.password" name="password"
			placeholder="password" required/>
	</div>
	<div class="form-group">
		<button ng-click="submit()" ng-disabled="success" class="btn btn-small btn-primary">Register</button>
	</div>
</form>
</div>