<div class="row marketing content">
	<p>Bookmark is a simple cloud-based personal bookmark application.
		Just drag and drop the bookmarklet below onto the bookmark bar of your
		browser</p>
	<button class="btn btn-primary">Bookmarklet</button>
</div>
<div class="row content marketing-image hidden-sm hidden-xs">
	<img alt="" src="resources/image/browser.png">
</div>
<div class="row content social">
	<p>Bookmark works on every device and every browser. Your bookmarks
		will not be share so that you can bookmark safely and privetly. This
		application is used for personal only.</p>
	<span> <img alt="" src="resources/image/fb.png">
	</span> <span> <img alt="" src="resources/image/twitter.png">
	</span>
</div>